{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "endOfLine": "auto",
  "useTabs": false,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)$",
    "^next(.*)$",
    "^@mui(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]",
    "^@/types(.*)$"
  ]
}
