{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "endOfLine": "auto",
  "useTabs": false,
  "semi": true
}
